# LaTeX project
/.vscode
# taco.pdf
/photo/*.pdf 
/figures/*.pdf


# *.eps



*.aux
*.log
*.out
*.toc
*.gz
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.dvi
*.pdfsync
*.lof
*.lot
*.lol
*.idx
*.ind
*.ilg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.glg
*.glsdefs
*.glsdefs
*.ist
*.fls
*.loa
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.fdb_latexmk
*.synctex(busy)
*.synctex.gz(busy)
*.synctex.gz(busybox)
*.synctex.gz(busybox.gz)
*.synctex.gz(busybox.gz(busy))
*.synctex.gz(busybox.gz(busybox))
*.synctex.gz(busybox.gz(busybox.gz))
*.synctex.gz(busybox.gz(busybox.gz(busy)))
*.synctex.gz(busybox.gz(busybox.gz(busybox)))
*.synctex.gz(busybox.gz(busybox.gz(busybox.gz)))
*.synctex.gz(busybox.gz(busybox.gz(busybox.gz(busy))))
*.synctex.gz(busybox.gz(busybox.gz(busybox.gz(busybox))))
*.synctex.gz(busybox.gz(busybox.gz(busybox.gz(busybox.gz))))
*.synctex.gz(busybox.gz(busybox.gz(busybox.gz(busybox.gz(busy)))))
*.synctex.gz(busybox.gz(busybox.gz(busybox.gz(busybox.gz(busybox)))))
*.synctex.gz(busybox.gz(busybox.gz(busybox.gz(busybox.gz(busybox.gz)))))
*.synctex.gz(busybox.gz(busybox.gz(busybox.gz(busybox.gz(busybox.gz(busybox))))))
*.synctex.gz(busybox.gz(busybox.gz(busybox.gz(busybox.gz(busybox.gz(busybox.gz))))))

# Build files
*.dvi

*.ps
*.fdb_latexmk
*.fls
*.synctex.gz
*.synctex(busy)
*.synctex.gz(busybox)
*.synctex.gz(busybox.gz)
*.synctex.gz(busybox.gz(busy))
*.synctex.gz(busybox.gz(busybox))
*.synctex.gz(busybox.gz(busybox.gz))
*.synctex.gz(busybox.gz(busybox.gz(busy)))
*.synctex.gz(busybox.gz(busybox.gz(busybox)))
*.synctex.gz(busybox.gz(busybox.gz(busybox.gz)))
*.synctex.gz(busybox.gz(busybox.gz(busybox.gz(busy))))
*.synctex.gz(busybox.gz(busybox.gz(busybox.gz(busybox))))
*.synctex.gz(busybox.gz(busybox.gz(busybox.gz(busybox.gz))))
*.synctex.gz(busybox.gz(busybox.gz(busybox.gz(busybox.gz(busy)))))
*.synctex.gz(busybox.gz(busybox.gz(busybox.gz(busybox.gz(busybox)))))
*.synctex.gz(busybox.gz(busybox.gz(busybox.gz(busybox.gz(busybox.gz)))))
*.synctex.gz(busybox.gz(busybox.gz(busybox.gz(busybox.gz(busybox.gz(busybox))))))
*.synctex.gz(busybox.gz(busybox.gz(busybox.gz(busybox.gz(busybox.gz(busybox.gz))))))

# Editor files
*.swp
*.bak
*.backup
*.sav
*.wmf
*.wmz
*.emf
*.emz
*.tmp
*.tmp.*
*.~*
*~
